In [1]:
import joblib
import pandas as pd
import numpy as np

In [2]:
model = joblib.load('houseprice_pieline_lr2.pkl')

In [14]:
data = pd.read_csv('../LinearRegression/Dataset/housing_prices_dataset.csv')

In [15]:
X=data[0:2]

In [16]:
X

,Size,Bedrooms,Bathrooms,Neighborhood,YearBuilt,HasGarage,LuxuryRating,ProximityToCityCenter,Condition,Price
0,10000.000000,NaN,NaN,Commercial,1973,NaN,Medium,30.000000,5.488515,1.488980e+06
1,1930.867849,4.0,3.0,Industrial,1928,0.0,Medium,1.802602,7.003753,6.383428e+05

In [17]:
y=X['Price']

In [18]:
y

0    1.488980e+06
1    6.383428e+05
Name: Price, dtype: float64

In [19]:
X.drop(columns=['Price'],inplace=True)

/var/folders/8b/_vkggsks1pvdn519cywyj0_40000gn/T/ipykernel_28605/1100917150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(columns=['Price'],inplace=True)

In [20]:
X

,Size,Bedrooms,Bathrooms,Neighborhood,YearBuilt,HasGarage,LuxuryRating,ProximityToCityCenter,Condition
0,10000.000000,NaN,NaN,Commercial,1973,NaN,Medium,30.000000,5.488515
1,1930.867849,4.0,3.0,Industrial,1928,0.0,Medium,1.802602,7.003753

In [22]:
data1 = pd.read_csv('test.csv')

In [23]:
data1

,Unnamed: 0,Size,Bedrooms,Bathrooms,HasGarage,LuxuryRating,ProximityToCityCenter,Condition,HouseAge,Neighborhood_Commercial,Neighborhood_Downtown,Neighborhood_Industrial,Neighborhood_Rural,Neighborhood_Suburb
0,0,10000.000000,NaN,NaN,NaN,2,30.000000,5.488515,51,1,0,0,0,0
1,1,1930.867849,4.0,3.0,0.0,2,1.802602,7.003753,96,0,0,1,0,0

In [26]:
model.predict(data1)

array([1530390.86108854,  657863.08222622])

In [36]:
test_pred = model.predict(data1)

In [37]:
y

0    1.488980e+06
1    6.383428e+05
Name: Price, dtype: float64

In [38]:
y[:]

0    1.488980e+06
1    6.383428e+05
Name: Price, dtype: float64

In [39]:
type(y)

pandas.core.series.Series

In [28]:
test_pred = y

In [29]:
print(train_pred)
print(test_pred)

[1530390.86108854  657863.08222622]
0    1.488980e+06
1    6.383428e+05
Name: Price, dtype: float64