In [2]:
print('Wednesday Class 2')

Wednesday Class 2

In [6]:
#Tuples
a=(1,'Two',3.0,4)
print(a,type(a))
print(a[0])
a[0]=10

(1, 'Two', 3.0, 4) <class 'tuple'>
1

TypeError: 'tuple' object does not support item assignment

In [7]:
a=tuple() # Creating empty type
print(a,type(a))

() <class 'tuple'>

In [9]:
a=()
print(a,type(a))

() <class 'tuple'>

In [10]:
a=[]
print(a,type(a))

[] <class 'list'>

In [11]:
a=(1,2,3,4) #Homogenous tuple
b=(1,'Two',3.0,4) #Hetrogenous tuple

In [13]:
a=tuple([1,2,3])
print(a,type(a))

(1, 2, 3) <class 'tuple'>

In [14]:
a=tuple(1,2,3)
print(a,type(a))

TypeError: tuple expected at most 1 argument, got 3

In [16]:
a[:2]

(1, 2)

In [18]:
a[::2]

(1, 3)

In [23]:
a[::-1]

(3, 2, 1)

In [29]:
a=(1,2,3)
b=(10,20,30)
print(a+b)

(1, 2, 3, 10, 20, 30)

In [30]:
print (a*2,type(a)) # here tuples are not mutable hence it do the tuple appending (i.e) a*2 = a+a

(1, 2, 3, 1, 2, 3) <class 'tuple'>

In [33]:
a=[1,2,3]
print (a*2,type(a))

[1, 2, 3, 1, 2, 3] <class 'list'>

In [37]:
a=(1,2,3)
c=a*50
c

(1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3)

In [40]:
print (len(c))
#[start:stop:step]

print(c[2:150:3])
print(c[2::3]) # Blank in stop goes till end, Blank in step, increments by 1

150
(3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3)

In [42]:
c.count(2) # To find the number of occurance of 2 in the tuple

50

In [43]:
a=(1,2,3)
print(3 in a) # Check whether value exist in the tuple use IN operator

True

In [45]:
a=(1,2,3)
print(5 in a) # Check whether value exist in the tuple use IN operator

False

In [47]:
a=(1,2,3)
print(5 not in a) # Check whether value exist in the tuple use IN operator

True

In [63]:
person = ('Rahul',6,'manager')
print(person,type(person))

('Rahul', 6, 'manager') <class 'tuple'>

In [54]:
#Method 1 - Unpacking a tuple and assigning to multiple variables
name,id,role = person
print(name,id,role)
print(type(name),type(id),type(role),type(person))

Rahul 6 manager
<class 'str'> <class 'int'> <class 'str'> <class 'tuple'>

In [56]:
#Method 2 - Just Unpacking the tuple 
print(*person)

Rahul 6 manager

In [62]:
a,b,c=person
print(a,b,c)

Rahul 6 manager

In [68]:
person = ('Rahul',6,'manager,cricketer,coach')
name,id,role = person
print(name)
print(id)
print(role)
print(type(name),type(id),type(role),type(person))

Rahul
6
manager,cricketer,coach
<class 'str'> <class 'int'> <class 'str'> <class 'tuple'>

In [70]:
#List - []
#tuple - ()
#set & Dictionary - {}

In [72]:
a={1,'Two',3.0,4}
print(a,type(a))

{1, 'Two', 3.0, 4} <class 'set'>

In [74]:
a={1,2,3,4,1,2}
print(a)

{1, 2, 3, 4}

In [77]:
a={}
print(type(a))
a=set()
print(type(a))

<class 'dict'>
<class 'set'>

In [79]:
a.add(1)
print(a)
print(type(a))

{1}
<class 'set'>

In [80]:
a.add(2)
print(a)
print(type(a))

{1, 2}
<class 'set'>

In [81]:
a.remove(2)
print(a)
print(type(a))

{1}
<class 'set'>

In [82]:
a={1,2,3,4,5}
print(a)
del a
print(a)

{1, 2, 3, 4, 5}

NameError: name 'a' is not defined

In [85]:
a={1,2,3,4,5}
print(a)
a.clear()
print(a)

{1, 2, 3, 4, 5}
set()

In [86]:
a={1,2,3}
b={3,4,5}

In [87]:
print(a | b) # a union b

{1, 2, 3, 4, 5}

In [88]:
print(a & b) # a intersection b

{3}

In [90]:
print (a - b)# a minus/difference b

{1, 2}

In [91]:
print (b - a)# b minus/difference a

{4, 5}

In [101]:
#Dictionary
# {key:value} -> Pair
# key can't be duplicated
# values can've duplicate data

a={'eid':100}
print(a,type(a))

{'eid': 100} <class 'dict'>

In [104]:
a={'eid':100,'name':'Bala','role':'Data Scientist'}
print(a,type(a))
a

{'eid': 100, 'name': 'Bala', 'role': 'Data Scientist'} <class 'dict'>

{'eid': 100, 'name': 'Bala', 'role': 'Data Scientist'}

In [105]:
print(a['eid'])
print(a['name'])
print(a['role'])

100
Bala
Data Scientist

In [106]:
print(a.keys())
print(a.values())

dict_keys(['eid', 'name', 'role'])
dict_values([100, 'Bala', 'Data Scientist'])