In [2]:
a=range(1,5)
a

range(1, 5)

In [3]:
for i in a:
    print(i)

1
2
3
4

In [4]:
a=['bala','meera','dakshith']
for i in a:
    print(i)

bala
meera
dakshith

In [5]:
a='India'
for i in a:
    print(i)

I
n
d
i
a

In [6]:
a=['bala','meera','dakshith']
for i in a:
    print(i)
    for j in i:
        print(j)

bala
b
a
l
a
meera
m
e
e
r
a
dakshith
d
a
k
s
h
i
t
h

In [8]:
a=('bala','meera','dakshith')
for i in a:
    print(i)

bala
meera
dakshith

In [9]:
a={'bala','meera','dakshith'}
for i in a:
    print(i)

dakshith
meera
bala

In [12]:
a={'wk1':'rahul','wk2':'Dhoni','wk3':'pant'}
for i in a:
    print(i)
for i in a.items():
    print(i)

for i in a.values():
    print(i)

wk1
wk2
wk3
('wk1', 'rahul')
('wk2', 'Dhoni')
('wk3', 'pant')
rahul
Dhoni
pant

In [14]:
i=0
while i <5:
    print(i)
    i+=1

0
1
2
3
4

In [15]:
a=[1,2,3]
i=0
while i < len(a):
    print (a[i])
    i+=1

1
2
3

In [18]:
a=[1,2,3]
print(a[0]+a[1]+a[2])
i=0
x=0
while i < len(a):
    print (a[i])
    x+=a[i]
    i+=1
print(x)

6
1
2
3
6

In [35]:
n=5
for i in range(1,n,1):
    for j in range(n,-i,-1):
        print('*',end='')
    print()

******
*******
********
*********

In [22]:
a=[1,2,3,2,4,5,6,7,3]
i=0

while 3 in a:
    a.remove(3)

print(a)

[1, 2, 2, 4, 5, 6, 7]