In [2]:
import pandas as pd
import os

In [5]:
os.getcwd()

'/Users/bkannadasan/Documents/GitHub/DataScience/Python/Wednesday_class'

In [6]:
df = pd.read_csv('Dataset/amusementpark_rider.csv')

In [7]:
df.shape

(1088, 56)

In [8]:
df.head()

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,...,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [9]:
pd.set_option('display.max_columns',100)

In [11]:
df[:2]

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,50 ft (15 m),NaN,gravity,NaN,NaN,Coney Island Cyclone Site,01:00,1600 riders per hour,2.9,LaMarcus Adna Thompson,30°,43 ft (13 m),NaN,NaN,NaN,Gravity pulled coaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1884,40.574,-73.978,Wood,1884-06-16,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 1 across in ...,NaN,NaN,NaN,12,Lina Beecher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,40.578,-73.979,Wood,1895-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0

In [14]:
df.tail()

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
1083,Pantheon (roller coaster),"3,328 ft (1,014 m)",73 mph (117 km/h),Busch Gardens Williamsburg,Under construction,2022,Steel – Launched,Intamin,NaN,Blitz Coaster,178 ft (54 m),2.0,LSM,NaN,2 trains with 5 cars. Riders are arranged 2 ac...,NaN,NaN,NaN,NaN,NaN,95°,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,37.2339,-76.6426,Steel,2022-01-01,73 mph,117 km/h,73.0,mph,73.0,178.0,ft,NaN,2,NaN
1084,Tron Lightcycle Power Run,"3,169.3 ft (966.0 m)",59.3[1] mph (95.4 km/h),Other,NaN,"June 16, 2016",Steel – Launched,Vekoma,4[2] ft (122 cm),Motorbike roller coaster,78.1 ft (23.8 m),0.0,LIM Launch,NaN,7 trains with 7 cars. Riders are arranged 2 ac...,NaN,~2:00,"1,680 riders per hour",4,Walt Disney Imagineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Must transfer from wheelchair,Tron,Single rider line available,NaN,NaN,NaN,NaN,TRON Lightcycle / Run,2022,NaN,NaN,Steel,2016-06-16,59.3 mph,95.4 km/h,59.3,mph,59.3,78.1,ft,NaN,0,4.0
1085,Tumbili,770 ft (230 m),34 mph (55 km/h),Kings Dominion,Under construction,NaN,Steel – 4th Dimension – Wing Coaster,S&S – Sansei Technologies,NaN,4D Free Spin,112 ft (34 m),0.0,Vertical chain lift hill,NaN,Single car trains with riders arranged 4 acros...,Jungle X-Pedition,00:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Crypt,NaN,NaN,NaN,NaN,NaN,NaN,Official website,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,Steel,NaN,34 mph,55 km/h,34.0,mph,34.0,112.0,ft,NaN,0,NaN
1086,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",58 mph (93 km/h),Six Flags Magic Mountain,Under construction,2022,Steel – Single-rail,Rocky Mountain Construction,NaN,Raptor – Custom,131 ft (40 m),3.0,Chain lift hill,NaN,NaN,DC Universe,NaN,NaN,NaN,NaN,87°,127 ft (39 m),NaN,NaN,Green Lantern: First Flight Tidal Wave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,Steel,2022-01-01,58 mph,93 km/h,58.0,mph,58.0,131.0,ft,NaN,3,NaN
1087,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",58 mph (93 km/h),Six Flags Magic Mountain,Under construction,2022,Steel – Single-rail,Rocky Mountain Construction,NaN,Raptor – Custom,131 ft (40 m),3.0,Chain lift hill,NaN,NaN,DC Universe,NaN,NaN,NaN,NaN,87°,127 ft (39 m),NaN,NaN,Green Lantern: First Flight Tidal Wave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,Steel,2022-01-01,58 mph,93 km/h,58.0,mph,58.0,131.0,ft,NaN,3,NaN

In [18]:
df.columns

Index(['coaster_name', 'Length', 'Speed', 'Location', 'Status', 'Opening date',
       'Type', 'Manufacturer', 'Height restriction', 'Model', 'Height',
       'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       'Track layout', 'Fastrack available', 'Soft opening date.1',
       'Closing date', 'Opened', 'Replaced by', 'Website',
       'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       'Single rider line available', 'Restraint Style',
       'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 'height_value', 'height_unit', 'height_ft',
       'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [26]:
# To see stats about the 
df.describe()

,Inversions,year_introduced,latitude,longitude,speed1_value,speed_mph,height_value,height_ft,Inversions_clean,Gforce_clean
count,933.000000,1088.000000,812.000000,812.000000,938.000000,938.000000,966.000000,171.000000,1088.000000,362.000000
mean,1.548767,1995.011029,38.373484,-41.595373,53.854797,48.627292,89.618054,101.996491,1.328125,3.824006
std,2.113474,23.478736,15.516596,72.285227,23.373429,16.671944,136.182354,67.329092,2.030553,0.989998
min,0.000000,1884.000000,-48.261700,-123.035700,5.000000,5.000000,4.000000,13.100000,0.000000,0.800000
25%,0.000000,1989.000000,35.031050,-84.552200,40.000000,37.300000,44.000000,51.800000,0.000000,3.400000
50%,0.000000,2000.000000,40.289800,-76.653600,50.000000,49.700000,79.500000,91.200000,0.000000,4.000000
75%,3.000000,2010.000000,44.799600,2.778100,63.000000,58.000000,113.000000,131.200000,2.250000,4.500000
max,14.000000,2022.000000,63.230900,153.426500,240.000000,149.100000,3937.000000,377.300000,14.000000,12.000000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088 entries, 0 to 1087
Data columns (total 56 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   coaster_name                   1088 non-null   object
 1   Length                         954 non-null    object
 2   Speed                          938 non-null    object
 3   Location                       1088 non-null   object
 4   Status                         875 non-null    object
 5   Opening date                   838 non-null    object
 6   Type                           1088 non-null   object
 7   Manufacturer                   1029 non-null   object
 8   Height restriction             831 non-null    object
 9   Model                          745 non-null    object
 10  Height                         966 non-null    object
 11  Inversions                     933 non-null    float64
 12  Lift/launch system             796 non-null    object
 13  Cost                           382 non-null    object
 14  Trains                         718 non-null    object
 15  Park section                   488 non-null    object
 16  Duration                       765 non-null    object
 17  Capacity                       575 non-null    object
 18  G-force                        362 non-null    object
 19  Designer                       578 non-null    object
 20  Max vertical angle             358 non-null    object
 21  Drop                           495 non-null    object
 22  Soft opening date              96 non-null     object
 23  Fast Lane available            69 non-null     object
 24  Replaced                       174 non-null    object
 25  Track layout                   335 non-null    object
 26  Fastrack available             19 non-null     object
 27  Soft opening date.1            96 non-null     object
 28  Closing date                   236 non-null    object
 29  Opened                         27 non-null     object
 30  Replaced by                    88 non-null     object
 31  Website                        87 non-null     object
 32  Flash Pass Available           50 non-null     object
 33  Must transfer from wheelchair  106 non-null    object
 34  Theme                          44 non-null     object
 35  Single rider line available    81 non-null     object
 36  Restraint Style                22 non-null     object
 37  Flash Pass available           46 non-null     object
 38  Acceleration                   60 non-null     object
 39  Restraints                     24 non-null     object
 40  Name                           35 non-null     object
 41  year_introduced                1088 non-null   int64
 42  latitude                       812 non-null    float64
 43  longitude                      812 non-null    float64
 44  Type_Main                      1088 non-null   object
 45  opening_date_clean             838 non-null    object
 46  speed1                         938 non-null    object
 47  speed2                         936 non-null    object
 48  speed1_value                   938 non-null    float64
 49  speed1_unit                    938 non-null    object
 50  speed_mph                      938 non-null    float64
 51  height_value                   966 non-null    float64
 52  height_unit                    966 non-null    object
 53  height_ft                      171 non-null    float64
 54  Inversions_clean               1088 non-null   int64
 55  Gforce_clean                   362 non-null    float64
dtypes: float64(8), int64(2), object(46)
memory usage: 476.1+ KB

In [28]:
# Show column data-types of all columns
df.dtypes

coaster_name                      object
Length                            object
Speed                             object
Location                          object
Status                            object
Opening date                      object
Type                              object
Manufacturer                      object
Height restriction                object
Model                             object
Height                            object
Inversions                       float64
Lift/launch system                object
Cost                              object
Trains                            object
Park section                      object
Duration                          object
Capacity                          object
G-force                           object
Designer                          object
Max vertical angle                object
Drop                              object
Soft opening date                 object
Fast Lane available               object
Replaced                          object
Track layout                      object
Fastrack available                object
Soft opening date.1               object
Closing date                      object
Opened                            object
Replaced by                       object
Website                           object
Flash Pass Available              object
Must transfer from wheelchair     object
Theme                             object
Single rider line available       object
Restraint Style                   object
Flash Pass available              object
Acceleration                      object
Restraints                        object
Name                              object
year_introduced                    int64
latitude                         float64
longitude                        float64
Type_Main                         object
opening_date_clean                object
speed1                            object
speed2                            object
speed1_value                     float64
speed1_unit                       object
speed_mph                        float64
height_value                     float64
height_unit                       object
height_ft                        float64
Inversions_clean                   int64
Gforce_clean                     float64
dtype: object

In [30]:
df.dtypes('float')

TypeError: 'Series' object is not callable

In [32]:
#Include specific data-types
df.select_dtypes(include='float64').columns

Index(['Inversions', 'latitude', 'longitude', 'speed1_value', 'speed_mph',
       'height_value', 'height_ft', 'Gforce_clean'],
      dtype='object')

In [34]:
#Exclude specific data-types
df.select_dtypes(exclude='float64').columns

Index(['coaster_name', 'Length', 'Speed', 'Location', 'Status', 'Opening date',
       'Type', 'Manufacturer', 'Height restriction', 'Model', 'Height',
       'Lift/launch system', 'Cost', 'Trains', 'Park section', 'Duration',
       'Capacity', 'G-force', 'Designer', 'Max vertical angle', 'Drop',
       'Soft opening date', 'Fast Lane available', 'Replaced', 'Track layout',
       'Fastrack available', 'Soft opening date.1', 'Closing date', 'Opened',
       'Replaced by', 'Website', 'Flash Pass Available',
       'Must transfer from wheelchair', 'Theme', 'Single rider line available',
       'Restraint Style', 'Flash Pass available', 'Acceleration', 'Restraints',
       'Name', 'year_introduced', 'Type_Main', 'opening_date_clean', 'speed1',
       'speed2', 'speed1_unit', 'height_unit', 'Inversions_clean'],
      dtype='object')

In [35]:
df

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,50 ft (15 m),NaN,gravity,NaN,NaN,Coney Island Cyclone Site,01:00,1600 riders per hour,2.9,LaMarcus Adna Thompson,30°,43 ft (13 m),NaN,NaN,NaN,Gravity pulled coaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1884,40.5740,-73.9780,Wood,1884-06-16,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 1 across in ...,NaN,NaN,NaN,12,Lina Beecher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,40.5780,-73.9790,Wood,1895-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1896,41.5800,-81.5700,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 2 across in ...,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,Switchback Railway,NaN,NaN,NaN,1910,NaN,Giant Racer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,40.5745,-73.9780,Steel,1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,39.3538,-74.4342,Steel,1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,Pantheon (roller coaster),"3,328 ft (1,014 m)",73 mph (117 km/h),Busch Gardens Williamsburg,Under construction,2022,Steel – Launched,Intamin,NaN,Blitz Coaster,178 ft (54 m),2.0,LSM,NaN,2 trains with 5 cars. Riders are arranged 2 ac...,NaN,NaN,NaN,NaN,NaN,95°,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,37.2339,-76.6426,Steel,2022-01-01,73 mph,117 km/h,73.0,mph,73.0,178.0,ft,NaN,2,NaN
1084,Tron Lightcycle Power Run,"3,169.3 ft (966.0 m)",59.3[1] mph (95.4 km/h),Other,NaN,"June 16, 2016",Steel – Launched,Vekoma,4[2] ft (122 cm),Motorbike roller coaster,78.1 ft (23.8 m),0.0,LIM Launch,NaN,7 trains with 7 cars. Riders are arranged 2 ac...,NaN,~2:00,"1,680 riders per hour",4,Walt Disney Imagineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Must transfer from wheelchair,Tron,Single rider line available,NaN,NaN,NaN,NaN,TRON Lightcycle / Run,2022,NaN,NaN,Steel,2016-06-16,59.3 mph,95.4 km/h,59.3,mph,59.3,78.1,ft,NaN,0,4.0
1085,Tumbili,770 ft (230 m),34 mph (55 km/h),Kings Dominion,Under construction,NaN,Steel – 4th Dimension – Wing Coaster,S&S – Sansei Technologies,NaN,4D Free Spin,112 ft (34 m),0.0,Vertical chain lift hill,NaN,Single car trains with riders arranged 4 acros...,Jungle X-Pedition,00:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Crypt,NaN,NaN,NaN,NaN,NaN,NaN,Official website,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,Steel,NaN,34 mph,55 km/h,34.0,mph,34.0,112.0,ft,NaN,0,NaN
1086,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",58 mph (93 km/h),Six Flags Magic Mountain,Under construction,2022,Steel – Single-rail,Rocky Mountain Construction,NaN,Raptor – Custom,131 ft (40 m),3.0,Chain lift hill,NaN,NaN,DC Universe,NaN,NaN,NaN,NaN,87°,127 ft (39 m),NaN,NaN,Green Lantern: First Flight Tidal Wave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,Steel,2022-01-01,58 mph,93 km/h,58.0,mph,58.0,131.0,ft,NaN,3,NaN
1087,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",58 mph (93 km/h),Six Flags Magic Mountain,Under construction,2022,Steel – Single-rail,Rocky Mountain Construction,NaN,Raptor – Custom,131 ft (40 m),3.0,Chain lift hill,NaN,NaN,DC Universe,NaN,NaN,NaN,NaN,87°,127 ft (39 m),NaN,NaN,Green Lantern: First Flight Tidal Wave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,Steel,2022-01-01,58 mph,93 km/h,58.0,mph,58.0,131.0,ft,NaN,3,NaN

In [38]:
#To drop specific column
df1=df.drop(['Opening date'],axis=1)

In [39]:
df1.shape

(1088, 55)

In [46]:
df.loc[['Opening date','Length']]

KeyError: "None of [Index(['Opening date', 'Length'], dtype='object')] are in the [index]"

In [54]:
# TO choose specific columns
df[['coaster_name','Length','Manufacturer']]

,coaster_name,Length,Manufacturer
0,Switchback Railway,600 ft (180 m),LaMarcus Adna Thompson
1,Flip Flap Railway,NaN,Lina Beecher
2,Switchback Railway (Euclid Beach Park),NaN,NaN
3,Loop the Loop (Coney Island),NaN,Edwin Prescott
4,Loop the Loop (Young's Pier),NaN,Edwin Prescott
...,...,...,...
1083,Pantheon (roller coaster),"3,328 ft (1,014 m)",Intamin
1084,Tron Lightcycle Power Run,"3,169.3 ft (966.0 m)",Vekoma
1085,Tumbili,770 ft (230 m),S&S – Sansei Technologies
1086,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",Rocky Mountain Construction
1087,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",Rocky Mountain Construction

In [50]:
df.shape

(1088, 56)

In [53]:
df.columns

Index(['coaster_name', 'Length', 'Speed', 'Location', 'Status', 'Opening date',
       'Type', 'Manufacturer', 'Height restriction', 'Model', 'Height',
       'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       'Track layout', 'Fastrack available', 'Soft opening date.1',
       'Closing date', 'Opened', 'Replaced by', 'Website',
       'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       'Single rider line available', 'Restraint Style',
       'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 'height_value', 'height_unit', 'height_ft',
       'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [57]:
df.coaster_name # Can be used to call only single column , also this will not support if the coulmn name has space and if we want to read multiple columns

0                           Switchback Railway
1                            Flip Flap Railway
2       Switchback Railway (Euclid Beach Park)
3                 Loop the Loop (Coney Island)
4                 Loop the Loop (Young's Pier)
                         ...
1083                 Pantheon (roller coaster)
1084                 Tron Lightcycle Power Run
1085                                   Tumbili
1086            Wonder Woman Flight of Courage
1087            Wonder Woman Flight of Courage
Name: coaster_name, Length: 1088, dtype: object

In [59]:
df['coaster_name'] # One column read and in pandas single column is consider as series

0                           Switchback Railway
1                            Flip Flap Railway
2       Switchback Railway (Euclid Beach Park)
3                 Loop the Loop (Coney Island)
4                 Loop the Loop (Young's Pier)
                         ...
1083                 Pantheon (roller coaster)
1084                 Tron Lightcycle Power Run
1085                                   Tumbili
1086            Wonder Woman Flight of Courage
1087            Wonder Woman Flight of Courage
Name: coaster_name, Length: 1088, dtype: object

In [61]:
type(df['coaster_name'])

pandas.core.series.Series

In [62]:
df[['coaster_name','Length']]

                                coaster_name                Length
0                         Switchback Railway        600 ft (180 m)
1                          Flip Flap Railway                   NaN
2     Switchback Railway (Euclid Beach Park)                   NaN
3               Loop the Loop (Coney Island)                   NaN
4               Loop the Loop (Young's Pier)                   NaN
...                                      ...                   ...
1083               Pantheon (roller coaster)    3,328 ft (1,014 m)
1084               Tron Lightcycle Power Run  3,169.3 ft (966.0 m)
1085                                 Tumbili        770 ft (230 m)
1086          Wonder Woman Flight of Courage    3,300 ft (1,000 m)
1087          Wonder Woman Flight of Courage    3,300 ft (1,000 m)

[1088 rows x 2 columns]

In [63]:
type(df[['coaster_name','Length']] ) # when multiple columns are read it is considered as dataframe

pandas.core.frame.DataFrame

In [64]:
df.opening_date_clean

0       1884-06-16
1       1895-01-01
2              NaN
3       1901-01-01
4       1901-01-01
           ...
1083    2022-01-01
1084    2016-06-16
1085           NaN
1086    2022-01-01
1087    2022-01-01
Name: opening_date_clean, Length: 1088, dtype: object

In [67]:
df['opening_date_clean']+20

TypeError: can only concatenate str (not "int") to str

In [69]:
df['opening_date_clean']+"20"

0       1884-06-1620
1       1895-01-0120
2                NaN
3       1901-01-0120
4       1901-01-0120
            ...
1083    2022-01-0120
1084    2016-06-1620
1085             NaN
1086    2022-01-0120
1087    2022-01-0120
Name: opening_date_clean, Length: 1088, dtype: object

In [72]:
df['opening_date_clean'].astype('date64[pyarrow]')

0       1884-06-16
1       1895-01-01
2             <NA>
3       1901-01-01
4       1901-01-01
           ...
1083    2022-01-01
1084    2016-06-16
1085          <NA>
1086    2022-01-01
1087    2022-01-01
Name: opening_date_clean, Length: 1088, dtype: date64[ms][pyarrow]

In [73]:
df['opening_date_clean']=pd.to_datetime(df['opening_date_clean'])

In [82]:
df['opening_date_clean'].dtypes

dtype('<M8[ns]')

In [85]:
df.select_dtypes(exclude='object')

,Inversions,year_introduced,latitude,longitude,opening_date_clean,speed1_value,speed_mph,height_value,height_ft,Inversions_clean,Gforce_clean
0,NaN,1884,40.5740,-73.9780,1884-06-16,6.0,6.0,50.0,NaN,0,2.9
1,1.0,1895,40.5780,-73.9790,1895-01-01,NaN,NaN,NaN,NaN,1,12.0
2,NaN,1896,41.5800,-81.5700,NaT,NaN,NaN,NaN,NaN,0,NaN
3,1.0,1901,40.5745,-73.9780,1901-01-01,NaN,NaN,NaN,NaN,1,NaN
4,1.0,1901,39.3538,-74.4342,1901-01-01,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1083,2.0,2022,37.2339,-76.6426,2022-01-01,73.0,73.0,178.0,NaN,2,NaN
1084,0.0,2022,NaN,NaN,2016-06-16,59.3,59.3,78.1,NaN,0,4.0
1085,0.0,2022,NaN,NaN,NaT,34.0,34.0,112.0,NaN,0,NaN
1086,3.0,2022,NaN,NaN,2022-01-01,58.0,58.0,131.0,NaN,3,NaN
1087,3.0,2022,NaN,NaN,2022-01-01,58.0,58.0,131.0,NaN,3,NaN

In [93]:
df1=df[['opening_date_clean','latitude']]

In [94]:
df1.dtypes

opening_date_clean    datetime64[ns]
latitude                     float64
dtype: object

In [95]:
import datetime

In [96]:
df1.head()

  opening_date_clean  latitude
0         1884-06-16   40.5740
1         1895-01-01   40.5780
2                NaT   41.5800
3         1901-01-01   40.5745
4         1901-01-01   39.3538

In [108]:
df1.dtypes

opening_date_clean    datetime64[ns]
latitude                     float64
dtype: object

In [123]:
pd.DataFrame(df1['opening_date_clean'],df1['opening_date_clean']+datetime.timedelta(days=1))

                   opening_date_clean
opening_date_clean
1884-06-17                        NaT
1895-01-02                        NaT
NaT                               NaT
1901-01-02                        NaT
1901-01-02                        NaT
...                               ...
2022-01-02                        NaT
2016-06-17                        NaT
NaT                               NaT
2022-01-02                        NaT
2022-01-02                        NaT

[1088 rows x 1 columns]

In [103]:
df1['opening_date_clean'].min()

Timestamp('1884-06-16 00:00:00')

In [104]:
df1['opening_date_clean'].max()

Timestamp('2022-03-01 00:00:00')

In [107]:
df1.columns

Index(['opening_date_clean', 'latitude'], dtype='object')

In [112]:
df1.rename([['opening_date_clean'],['Opening_Date_Clean']])

TypeError: 'list' object is not callable

In [115]:
df1.rename?

Signature:
df1.rename(
    mapper: 'Renamer | None' = None,
    *,
    index: 'Renamer | None' = None,
    columns: 'Renamer | None' = None,
    axis: 'Axis | None' = None,
    copy: 'bool | None' = None,
    inplace: 'bool' = False,
    level: 'Level | None' = None,
    errors: 'IgnoreRaise' = 'ignore',
) -> 'DataFrame | None'
Docstring:
Rename columns or index labels.

Function / dict values must be unique (1-to-1). Labels not contained in
a dict / Series will be left as-is. Extra labels listed don't throw an
error.

See the :ref:`user guide <basics.rename>` for more.

Parameters
----------
mapper : dict-like or function
    Dict-like or function transformations to apply to
    that axis' values. Use either ``mapper`` and ``axis`` to
    specify the axis to target with ``mapper``, or ``index`` and
    ``columns``.
index : dict-like or function
    Alternative to specifying axis (``mapper, axis=0``
    is equivalent to ``index=mapper``).
columns : dict-like or function
    Alternative to specifying axis (``mapper, axis=1``
    is equivalent to ``columns=mapper``).
axis : {0 or 'index', 1 or 'columns'}, default 0
    Axis to target with ``mapper``. Can be either the axis name
    ('index', 'columns') or number (0, 1). The default is 'index'.
copy : bool, default True
    Also copy underlying data.
inplace : bool, default False
    Whether to modify the DataFrame rather than creating a new one.
    If True then value of copy is ignored.
level : int or level name, default None
    In case of a MultiIndex, only rename labels in the specified
    level.
errors : {'ignore', 'raise'}, default 'ignore'
    If 'raise', raise a `KeyError` when a dict-like `mapper`, `index`,
    or `columns` contains labels that are not present in the Index
    being transformed.
    If 'ignore', existing keys will be renamed and extra keys will be
    ignored.

Returns
-------
DataFrame or None
    DataFrame with the renamed axis labels or None if ``inplace=True``.

Raises
------
KeyError
    If any of the labels is not found in the selected axis and
    "errors='raise'".

See Also
--------
DataFrame.rename_axis : Set the name of the axis.

Examples
--------
``DataFrame.rename`` supports two calling conventions

* ``(index=index_mapper, columns=columns_mapper, ...)``
* ``(mapper, axis={'index', 'columns'}, ...)``

We *highly* recommend using keyword arguments to clarify your
intent.

Rename columns using a mapping:

>>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
>>> df.rename(columns={"A": "a", "B": "c"})
   a  c
0  1  4
1  2  5
2  3  6

Rename index using a mapping:

>>> df.rename(index={0: "x", 1: "y", 2: "z"})
   A  B
x  1  4
y  2  5
z  3  6

Cast index labels to a different type:

>>> df.index
RangeIndex(start=0, stop=3, step=1)
>>> df.rename(index=str).index
Index(['0', '1', '2'], dtype='object')

>>> df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
Traceback (most recent call last):
KeyError: ['C'] not found in axis

Using axis-style parameters:

>>> df.rename(str.lower, axis='columns')
   a  b
0  1  4
1  2  5
2  3  6

>>> df.rename({1: 2, 2: 4}, axis='index')
   A  B
0  1  4
2  2  5
4  3  6
File:      /opt/anaconda3/lib/python3.11/site-packages/pandas/core/frame.py
Type:      method

In [116]:
df1.rename(columns='opening_date_clean':'Opening_Date_Clean')

SyntaxError: invalid syntax (1230310793.py, line 1)

In [118]:
#Rename columns
df1.rename(columns={'opening_date_clean':'Opening_Date_Clean','latitude':'Latitude'})

     Opening_Date_Clean  Latitude
0            1884-06-16   40.5740
1            1895-01-01   40.5780
2                   NaT   41.5800
3            1901-01-01   40.5745
4            1901-01-01   39.3538
...                 ...       ...
1083         2022-01-01   37.2339
1084         2016-06-16       NaN
1085                NaT       NaN
1086         2022-01-01       NaN
1087         2022-01-01       NaN

[1088 rows x 2 columns]

In [125]:
df1.duplicated().sum()

285

In [128]:
df[df.duplicated()] # Finds and prints duplicate record

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
1087,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",58 mph (93 km/h),Six Flags Magic Mountain,Under construction,2022,Steel – Single-rail,Rocky Mountain Construction,NaN,Raptor – Custom,131 ft (40 m),3.0,Chain lift hill,NaN,NaN,DC Universe,NaN,NaN,NaN,NaN,87°,127 ft (39 m),NaN,NaN,Green Lantern: First Flight Tidal Wave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,Steel,2022-01-01,58 mph,93 km/h,58.0,mph,58.0,131.0,ft,NaN,3,NaN

In [130]:
df[df.duplicated(keep=False)] # Finds and prints both the original & duplicate records

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
1086,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",58 mph (93 km/h),Six Flags Magic Mountain,Under construction,2022,Steel – Single-rail,Rocky Mountain Construction,NaN,Raptor – Custom,131 ft (40 m),3.0,Chain lift hill,NaN,NaN,DC Universe,NaN,NaN,NaN,NaN,87°,127 ft (39 m),NaN,NaN,Green Lantern: First Flight Tidal Wave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,Steel,2022-01-01,58 mph,93 km/h,58.0,mph,58.0,131.0,ft,NaN,3,NaN
1087,Wonder Woman Flight of Courage,"3,300 ft (1,000 m)",58 mph (93 km/h),Six Flags Magic Mountain,Under construction,2022,Steel – Single-rail,Rocky Mountain Construction,NaN,Raptor – Custom,131 ft (40 m),3.0,Chain lift hill,NaN,NaN,DC Universe,NaN,NaN,NaN,NaN,87°,127 ft (39 m),NaN,NaN,Green Lantern: First Flight Tidal Wave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,NaN,Steel,2022-01-01,58 mph,93 km/h,58.0,mph,58.0,131.0,ft,NaN,3,NaN

In [127]:
df1[df1.duplicated()]

     opening_date_clean  latitude
7                   NaT     41.58
9                   NaT     41.58
11                  NaT     41.58
17                  NaT     41.58
31                  NaT     41.58
...                 ...       ...
1082                NaT       NaN
1084         2016-06-16       NaN
1085                NaT       NaN
1086         2022-01-01       NaN
1087         2022-01-01       NaN

[285 rows x 2 columns]

In [132]:
df1[df1.duplicated(keep=False)]

     opening_date_clean  latitude
2                   NaT   41.5800
7                   NaT   41.5800
9                   NaT   41.5800
11                  NaT   41.5800
13           1927-01-01   40.3869
...                 ...       ...
1082                NaT       NaN
1084         2016-06-16       NaN
1085                NaT       NaN
1086         2022-01-01       NaN
1087         2022-01-01       NaN

[342 rows x 2 columns]

In [138]:
df2=df1.drop_duplicates()

In [140]:
df2.duplicated().sum()

0

In [144]:
df['coaster_name'].value_counts()

coaster_name
Batman: The Ride                       7
Lego Technic Test Track                4
Flight of the Hippogriff               4
American Dreier Looping                4
Big Thunder Mountain Railroad          4
                                      ..
Back at the Barnyard Hayride           1
Cactus Coaster                         1
Cannonball Express (roller coaster)    1
Cannonball Run (roller coaster)        1
Diving Machine G5                      1
Name: count, Length: 990, dtype: int64

In [145]:
df['coaster_name'].value_counts().sort_index()

coaster_name
10 Inversion Roller Coaster     1
Abyss (roller coaster)          1
Abyssus                         1
Accelerator (roller coaster)    1
Acrobat (roller coaster)        1
                               ..
Zip (roller coaster)            1
Zipper Dipper                   1
Zippin Pippin                   2
Zoomerang (Lake Compounce)      1
Zydeco Scream                   1
Name: count, Length: 990, dtype: int64

In [146]:
df['coaster_name'].value_counts().sort_index(ascending=False)

coaster_name
Zydeco Scream                   1
Zoomerang (Lake Compounce)      1
Zippin Pippin                   2
Zipper Dipper                   1
Zip (roller coaster)            1
                               ..
Acrobat (roller coaster)        1
Accelerator (roller coaster)    1
Abyssus                         1
Abyss (roller coaster)          1
10 Inversion Roller Coaster     1
Name: count, Length: 990, dtype: int64

In [148]:
df['coaster_name'].value_counts().sort_values()

coaster_name
Abyss (roller coaster)           1
Lightning (Revere Beach)         1
Racer (Kennywood)                1
Zip (roller coaster)             1
Alpen Blitz                      1
                                ..
Big Thunder Mountain Railroad    4
American Dreier Looping          4
Flight of the Hippogriff         4
Lego Technic Test Track          4
Batman: The Ride                 7
Name: count, Length: 990, dtype: int64

In [152]:
df['coaster_name']=='Batman: The Ride'

0       False
1       False
2       False
3       False
4       False
        ...
1083    False
1084    False
1085    False
1086    False
1087    False
Name: coaster_name, Length: 1088, dtype: bool

In [153]:
df[df['coaster_name']=='Batman: The Ride']

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
312,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1992,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
332,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1993,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
348,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1994,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
367,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1995,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
414,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1997,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
470,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1999,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
625,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,2003,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0

In [157]:
df.query('''coaster_name'=='Batman: The Ride''')

SyntaxError: invalid syntax (<unknown>, line 1)

In [166]:
df.query('coaster_name=="Batman: The Ride"')

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
312,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1992,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
332,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1993,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
348,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1994,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
367,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1995,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
414,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1997,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
470,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1999,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
625,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,2003,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0

In [167]:
df.query('coaster_name=="Batman: The Ride" & Type_Main=="Steel"')

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
312,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1992,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
332,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1993,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
348,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1994,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
367,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1995,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
414,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1997,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
470,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,1999,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0
625,Batman: The Ride,"2,693 or 2,700 ft (821 or 823 m)",50 mph (80 km/h),Other,NaN,NaN,Steel – Inverted,Bolliger & Mabillard,54 in (137 cm),Inverted Coaster – Batman,100 or 105 ft (30 or 32 m),5.0,Chain lift hill,NaN,2 trains with 8 cars. Riders are arranged 4 ac...,NaN,01:45,1280–1400[1][2] riders per hour,4,Werner Stengel,NaN,84.5 ft[3],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single rider line available,Over-the-shoulder,Flash Pass available,NaN,NaN,NaN,2003,NaN,NaN,Steel,NaT,50 mph,80 km/h,50.0,mph,50.0,100.0,ft,NaN,5,4.0

In [168]:
df1.opening_date_clean

0      1884-06-16
1      1895-01-01
2             NaT
3      1901-01-01
4      1901-01-01
          ...
1083   2022-01-01
1084   2016-06-16
1085          NaT
1086   2022-01-01
1087   2022-01-01
Name: opening_date_clean, Length: 1088, dtype: datetime64[ns]

In [171]:
df1.dtypes

opening_date_clean    datetime64[ns]
latitude                     float64
dtype: object

In [176]:
df1.opening_date_clean.dt.year

0       1884.0
1       1895.0
2          NaN
3       1901.0
4       1901.0
         ...
1083    2022.0
1084    2016.0
1085       NaN
1086    2022.0
1087    2022.0
Name: opening_date_clean, Length: 1088, dtype: float64

In [178]:
df1['opening_date_clean'].dt.year # Fetch only year from a date filed

0       1884.0
1       1895.0
2          NaN
3       1901.0
4       1901.0
         ...
1083    2022.0
1084    2016.0
1085       NaN
1086    2022.0
1087    2022.0
Name: opening_date_clean, Length: 1088, dtype: float64

In [180]:
df1['opening_date_clean'].dt.year.astype('Int32')

0       1884
1       1895
2       <NA>
3       1901
4       1901
        ...
1083    2022
1084    2016
1085    <NA>
1086    2022
1087    2022
Name: opening_date_clean, Length: 1088, dtype: Int32

In [182]:
df1['Yr_intro_from_open_dt']=df1['opening_date_clean'].dt.year.astype('Int32') # Creating new column

/var/folders/8b/_vkggsks1pvdn519cywyj0_40000gn/T/ipykernel_98165/1096747876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Yr_intro_from_open_dt']=df1['opening_date_clean'].dt.year.astype('Int32')

In [184]:
df1

     opening_date_clean  latitude  Yr_intro_from_open_dt
0            1884-06-16   40.5740                   1884
1            1895-01-01   40.5780                   1895
2                   NaT   41.5800                   <NA>
3            1901-01-01   40.5745                   1901
4            1901-01-01   39.3538                   1901
...                 ...       ...                    ...
1083         2022-01-01   37.2339                   2022
1084         2016-06-16       NaN                   2016
1085                NaT       NaN                   <NA>
1086         2022-01-01       NaN                   2022
1087         2022-01-01       NaN                   2022

[1088 rows x 3 columns]

In [187]:
df1.opening_date_clean.isna().sum()

250

In [188]:
df1.Yr_intro_from_open_dt.isna().sum()

250